{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gabster Login</title>
  <link rel="stylesheet" href="{% static 'login/style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">
  <meta name=”viewport” content=”width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="logo">
        <img src="{% static 'profile/black.png' %}" alt="logo">
        <h1>Connect, Share, Thrive: Your World, Your Gabster!</h1>
    </div>
  <div class="wrapper">
    <header>
      <h1>Log in</h1>
    </header>
{#  <h2>Log In</h2>#}
        <div class="alert-container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <form class="form-signin" method="post">
      {% csrf_token %}
      <div class="input-box">
        <input type="text" name="username" id="inputEmail" class="form-control" placeholder="Username or Email" required>
      </div>
      <div class="input-box">
        <div class="input-group">
          <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
          <span class="show-password" id="showPassword"><i class="fas fa-eye-slash"></i></span>
        </div>
      </div>
      <div class="pass-txt"><a href="{% url 'reset_password' %}">Forgot password?</a></div>
      <div class="input-box button">
        <input type="submit" value="Login">
      </div>
        {% if form.non_field_errors %}
            <div class="error-message" style="color: red; margin-bottom: 10px;">
                 {{ form.non_field_errors }}
            </div>
        {% endif %}
{#       {% for field in login_form %}#}
{#      <p>#}
{#          {% for error in field.errors %}#}
{#              <p style="color: red"><i class="error error-icon fas fa-exclamation-circle"></i>{{ error }}</p>#}
{#          {% endfor %}#}
{#      </p>#}
{#      {% endfor %}#}
{##}
{#      {% if login_form.non_field_errors %}#}
{#          <div style="color: red">#}
{#              <p style="color: red"><i class="error error-icon fas fa-exclamation-circle"></i>{{ login_form.non_field_errors }}</p>#}
{#          </div>#}
{#      {% endif %}#}

    </form>
    <div class="sign-txt">Don't have an account? <a href="{% url 'register' %}">Sign up now</a></div>
    <div class="sign-txt">Need help? <a href='/contact'>Contact us</a></div>
  </div>

<script>
  const form = document.querySelector(".form-signin");
  const eInput = form.querySelector("#inputEmail");
  const pInput = form.querySelector("#inputPassword");
  const showPassword = document.getElementById("showPassword");

  form.onsubmit = (e) => {
    e.preventDefault();

    if (eInput.value === "") {
      eInput.parentElement.classList.add("shake", "error");
    }

    if (pInput.value === "") {
      pInput.parentElement.classList.add("shake", "error");
    }

    setTimeout(() => {
      eInput.parentElement.classList.remove("shake");
      pInput.parentElement.classList.remove("shake");
    }, 500);

    eInput.onkeyup = () => {
      if (eInput.value !== "") {
        eInput.parentElement.classList.remove("error");
      }
    };

    pInput.onkeyup = () => {
      if (pInput.value !== "") {
        pInput.parentElement.classList.remove("error");
      }
    };

    if (!eInput.parentElement.classList.contains("error") && !pInput.parentElement.classList.contains("error")) {
      form.submit();
    }
  };

  showPassword.addEventListener("click", () => {
    if (pInput.type === "password") {
      pInput.type = "text";
      showPassword.querySelector("i").classList.remove("fa-eye-slash");
      showPassword.querySelector("i").classList.add("fa-eye");
    } else {
      pInput.type = "password";
      showPassword.querySelector("i").classList.remove("fa-eye");
      showPassword.querySelector("i").classList.add("fa-eye-slash");
    }
  });
</script>
</body>
</html>