{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Enter New Password</title>
  <link rel="stylesheet" href="{% static 'login/pass_reset_form.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="wrapper">
    <header>
      <h1>Enter New Password</h1>
    </header>

      <div class="sign-txt"><p>Please enter your new password twice to verify that you typed it correctly.</p></div>

    <form method="post" >
      {% csrf_token %}


      <div class="input-box">
        <div class="input-group">
          <input type="password" name="new_password1" id="new_password1" placeholder="Enter new password" required>
        </div>
        <div class="input-group">
          <input type="password" name="new_password2" id="new_password2" placeholder="Enter new password again" required>
        </div>

        <div class="input-box button">
          <input type="submit" value="Change my password">
        </div>
      </div>
    </form>
  </div>
</body>
</html>
