{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email Sent</title>
  <link rel="stylesheet" href="{% static 'login/pass_reset.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">
</head>
    <body>
    <div class="wrapper">
        <header>
        <h1>Password Reset</h1>
        </header>

 <div class="sign-txt">We've already emailed you instructions on how to reset your password.
Please check your inbox/spam folder.</div>
        <div class="sign-txt">If you haven't received an email, please make sure that the email address you have entered is correct
and is the email address you've registered with.</div>

        </div>
    </body>
</html>