<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center font-bold">CONTACT US - RESPONSE</h1>
        <div class="contact-details text-center">
            <p><strong>Name:</strong> {{ name }}</p>
            <p><strong>Email:</strong> {{ email }}</p>
            <p><strong>Subject:</strong> {{ subject }}</p>
            <p><strong>Response:</strong><br> {{ comment }}</p><br>
            <div class="mt-3 text-center text-gray-500">
                PLEASE NOTE: You cannot reply to this e-mail as it is only a response message.
                If you have any more concerns, please contact us on Gabster.
            </div>
        </div>
    </div>
</body>
</html>
